@{
    ViewBag.Title = "About";
}

<h2>1) O sistema travou?</h2>

<h4>Entre em contato com o administrador em: admin@empresa.com</h4>

<h2>2) Dados do banco de dados não são exibidos?</h2>

<h4>Verifique se o banco de dados está ligado e conectado ao sistema</h4>

<h2>3) Não consegue alterar os dados?</h2>

<h4>Verifique seu nivel de permissao e se está autenticado</h4>
